# Dependencies
node_modules/

# Build (Optional: Uncomment if you want to push your build to git)
# dist/

# Env
.env*

# IDE
.vscode/
.idea/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
